<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Your Restaurants</title>
</head>

<%- include('../partials/_navbar.ejs') %>

<body>

  <div class="all-restaurants-body">
    <div class="all-restaurants-header">
  <h1>Your Restaurants</h1>

  <a class="add-restaurants-link" href="/users/<%=user._id%>/restaurants/new"
  <a href="/users/<%=user._id%>/restaurants/new">Add a Restaurant</a>
  <ul>
    <% restaurants.forEach((restaurant) => { %>
      <li>
        <a href="/users/<%= user._id %>/restaurants/<%= restaurant._id %>">
<%= restaurant.name %>
        </a>
      </li>
      <% }) %>
  </ul>
</body>
</html>